.boat-spec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 0 8px 0;

  .value {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
    color: var(--charcoal-grey);
  }

  .name {
    font-size: 10px;
    line-height: 1.6;
    color: var(--charcoal-grey-50);
    text-transform: uppercase;
  }
}
