.boat-badge {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.82;
  text-align: right;
  color: var(--white-light);
  background-color: var(--charcoal-grey);
  text-decoration: none;
  padding: 4px 6px 4px 15px;
  text-transform: uppercase;
  cursor: pointer;
}
