:root {
  --charcoal-grey: #363e40;
  --charcoal-grey-50: rgba(54, 62, 64, 0.5);
  --charcoal-grey-80: rgba(54, 62, 64, 0.8);
  --pinkish-grey: #cac9c9;
  --charcoal-grey-two: #3d4748;
  --white: #f8f8f8;
  --white-light: #ffffff;
  --gunmetal: #486863;
  --greeny-blue: #36a6b4;
  --pale-red: #de6449;
  --light-teal: #adeee3;
  --ugly-blue: #2a8691;
}
