@import './shared/styles/mixins';

.container {
  display: flex;
  justify-content: center;

  .boat-card {
    max-width: $mobile-width;
    margin-top: 10vh;

    @include desktop {
      max-width: $desktop-width;
    }
  }
}
